@font-face {
  font-family: 'GeneralSans-Extralight';
  src: url('GeneralSans_Complete/Fonts/WEB/fonts/GeneralSans-Extralight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GeneralSans-Bold';
  src: url('GeneralSans_Complete/Fonts/WEB/fonts/GeneralSans-Bold.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Headings */
  --fs-h1: clamp(2rem, 1.5rem + 2vw, 3.5rem);
  --fs-h2: clamp(1.75rem, 1.25rem + 1.8vw, 2.75rem);
  --fs-h3: clamp(1.5rem, 1.1rem + 1.5vw, 2.25rem);

  /* Paragraphs */
  --fs-body: clamp(1rem, 0.9rem + 0.5vw, 1.25rem);
  --fs-small: clamp(0.875rem, 0.8rem + 0.3vw, 1rem);

  /* Colors */
  --grey: #c8c8c8;
  --bl_wh: #000;
  --dark-grey: #a0a0a0;
} 
/* CSS RESETS */
html, body{
    font-size: 14px;
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    background: var(--grey);
    color: var(--bl_wh);
    font-size: var(--fs-body);
    font-family: 'GeneralSans-Extralight', sans-serif;
    overflow-x: hidden;
}
.color{
    color: var(--grey);
}
.black{
    color: #000;
}
.flex, .flex_col{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex_col{
    flex-direction: column;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
main.flex_col{
    width: 100%;
    justify-content: flex-start;
}
button{
    --border-width: clamp(2px, 0.07em, 6px);
    all: unset;
    cursor: pointer;
    position: relative;
    pointer-events: auto;
    z-index: 3;
    background: linear-gradient(
                        -75deg,
                        rgba(0,0,0,.15),                 
                        rgba(0,0,0,0.4),                   
                        rgba(0,0,0,.15));
    border-radius: 999vw;
    box-shadow: inset 0 0.125em 0.125em rgba(0,0,0,0.05),                
    inset 0 -0.125em 0.125em rgba(0,0,0,0.5),                
    0 0.25em 0.125em -0.125em rgba(0,0,0,0.2),                
    0 0 0.1em 0.25em inset rgba(0,0,0,0.2),                
    0 0 0 0 rgba(0,0,0,1);
    backdrop-filter: blur(clamp(1px, 0.125em, 4px));
    transition: all .3s ease;
}
button:hover{
    transform: scale(0.9);
    backdrop-filter: blur(0.01em);
    box-shadow: inset 0 0.125em 0.125em rgba(0,0,0,0.05),                
    inset 0 -0.125em 0.125em rgba(255,255,255,0.5),                
    0 0.15em 0.05em -0.1em rgba(255,255,255,0.25),                
    0 0 0.05em 0.1em inset rgba(255,255,255,0.5),                
    0 0 0 0 rgb(175,164,164);
}
button span{
    display: block;
    font-family: 'GeneralSans-Bold', sans-serif;
    color: var(--bl_wh);
    letter-spacing: .05em;
    font-size: var(--fs-small);
    padding: 0.9rem 2rem;
    text-shadow: 0 0.25em 0.05em rgba(255,255,255,0.15);
    transition: all .3s ease;
}
button:hover span{
    text-shadow: 0 0.25em 0.025em 0.025em rgba(255,255,255,0.2);
}
button.darkbtn{
    --border-width: clamp(2px, 0.07em, 6px);
    all: unset;
    cursor: pointer;
    position: relative;
    pointer-events: auto;
    z-index: 3;
    background: linear-gradient(
                        -75deg,
                        rgba(255,255,255,.15),                 
                        rgba(255,255,255,0.4),                   
                        rgba(255,255,255,.15));
    border-radius: 999vw;
    box-shadow: inset 0 0.125em 0.125em rgba(255,255,255,0.05),                
    inset 0 -0.125em 0.125em rgba(255,255,255,0.5),                
    0 0.25em 0.125em -0.125em rgba(255,255,255,0.2),                
    0 0 0.1em 0.25em inset rgba(255,255,255,.25),                
    0 0 0 0 rgba(255,255,255,1);
    backdrop-filter: blur(clamp(1px, 0.125em, 4px));
    transition: all .3s ease;
}
button.darkbtn:hover{
    transform: scale(0.9);
    backdrop-filter: blur(0.01em);
    box-shadow: inset 0 0.125em 0.125em rgba(255,255, 255,0.1),                
    inset 0 -0.125em 0.125em rgba(255,255,255,0.8),                
    0 0.15em 0.05em -0.1em rgba(255,255,255,0.3),                
    0 0 0.05em 0.1em inset rgba(255,255,255,0.5),                
    0 0 0 0 rgba(255,255,255, 1);
}
button.darkbtn span{
    display: block;
    font-family: 'GeneralSans-Bold', sans-serif;
    color: var(--grey);
    letter-spacing: .05em;
    font-size: var(--fs-small);
    padding: 0.9rem 2rem;
    text-shadow: 0 0.25em 0.05em rgba(0,0,0,0.6);
    transition: all .3s ease;
}
button:hover span{
    text-shadow: 0 0.25em 0.025em 0.025em rgba(0,0,0,0.8);
}

button.secondary{
    background: transparent;
    border: var(--border-width) solid currentColor;
    box-shadow: none;
    color: var(--bl_wh);
}
button.secondary span{
    color: inherit;
    text-shadow: none;    
}
button.secondary:hover{
    background: rgba(0,0,0,0.05);
    transform: scale(0.95);
}

button.secondary.darkbtn{
    color: var(--grey);
    border-color: rgba(255,255,255,0.6);
}
button.secondary.darkbtn:hover{
    background: rgba(255,255,255,0.1);
}

.pretty_border{
    position: relative;
    border-radius: 16px;
    z-index: 3;
    background: transparent;
}
.pretty_border::before{
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 5px;
    background: linear-gradient(
        135deg, #000000, #555555, #ffffff
    );
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
    pointer-events: none; 
}
.clip_scroll{
    z-index: 3;
    width: 100vw;
    padding-top: 100vh;
}
.clip_scroll .clip_cols{
    height: auto;
}

/*PAGE TRANSITION STAR ANIMATION*/
#svg_rec, #svg_rec2, #svg_rec3, #svg_rec4{
    display: none;
}
.starSvg{
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    margin: 0;
    width: 200px;
    height: auto;
    aspect-ratio: 1/1;
    transform: translate(-50%, -50%);
}
#svg1 {clip-path: url(#svg_path)}
#svg2 {clip-path: url(#svg_path2)}
#svg3 {clip-path: url(#svg_path3)}
#svg4 {clip-path: url(#svg_path4)}

.starSvg img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    transform: translate(-50%, -50%);
}
@media (orientation: portrait){
    .starSvg img{
        width: auto;
        height: 100vh;
    }
}

/*NAVIGATION MENU*/
.menu{
    position: fixed;
    top: 0;
    width: 90%;
    margin-top: 1rem;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    border-radius: 1rem;
    align-items: center;
    background: rgba(255,255,255,0.075);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-bottom: 2px solid rgba(255,255,255,0.3);
    box-shadow: 0 8px 20px rgba(0,0,0,0.05);
    z-index: 999;
}
.menu a{
    font-family: 'GeneralSans-Bold', sans-serif;
    color: var(--bl_wh);
    font-size: var(--fs-small);
    text-decoration: none;
    transition: all .3s ease;
}
.menu ul{
    display: flex;
    gap: 0 60px;
}
.menu ul li{
    display: flex;
}
.section{
  min-height: 100vh;
}
#clip1_scroll{
    padding-top: 0;
}
/* HERO SECTION */
.clip_inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 15rem;
}
.hero{
    width: 100vw;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero_text{
    max-width: 420px;
}
.hero_text h1{
    text-align: left;
    font-size: var(--fs-h1);
    margin-bottom: .5rem;
    margin-top: 0;
}
.hero_text p{
    margin-bottom: 2rem;
}
.bento{
    display: grid;
    grid-template-columns: clamp(80px, 10vw, 100px) clamp(200px, 25vw, 300px);
    grid-template-rows: clamp(80px, 10vh, 100px) clamp(80px, 10vh, 100px) auto;
    gap: 12px;
}
.img_box{
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    border: 3px solid var(--dark-grey);
    box-shadow: inset 0 0 18px rgba(0,0,0,0.2);
    transition: box-shadow .4s ease, transform .4s ease, outline .4s ease;
}
.img1{
    grid-column: 1;
    grid-row: 1;
}

.img2{
    grid-column: 1;
    grid-row: 2;
}
.large_image{
      grid-column: 2;
      grid-row: 1 / span 2;
      background-size: cover;
      background-position: center;
      border-radius: 16px;
      border: 3px solid var(--dark-grey);
      box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
      transition: background-image 1s ease-in-out;
      height: clamp(150px, 20vh, 210px);
}
.bottom_row{
    grid-column: 1 / span 2;
    grid-row: 3;
    display: flex;
    gap: 12px;
}
.img3, .img4{
    flex: 1;
    height: clamp(60px, 8vw, 100px);
}
.img_box.pretty_border{
    transform: scale(1.03);
    z-index: 1;
}

/* FEATURED COLLECTION */
.featured_collections{
    width: 90%;
    margin: auto;
    padding: 4rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.collection_container{
    display: grid;
    grid-template-columns: 1fr 2fr 1.5fr;
    gap: 1rem;
    width: 100%;
    align-items: center;
    place-items: center;
}
.thumbnail_list{
    display: flex;flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: 13rem;
    height: 20rem;
    overflow: hidden;
}
.thumbnail_list img{
    width: 5rem;
    height: 5rem;
    border-radius: 12px;
    cursor: pointer;
    opacity: .7;
    transition: .3s ease;
    border: 2px solid transparent;
}
.thumbnail_list img:hover,
.thumbnail_list img.active{
    opacity: 1;
    transform: scale(1.05);
    border: .25rem solid var(--dark-grey);
}
.image_display{
    position: relative;
    width: 100%;
    height: clamp(300px, 40vh, 400px);
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,.15);
}
.image_display img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: opacity .5s ease;
}
.image_slice{
    position: absolute;
    inset: 0;
    display: flex;
    pointer-events: none;
}
.slice{
    flex: 1;
    background: #000;
    transform: translateY(100%);
}
.info_panel{
    height: 80vh;
    max-width: 650px;
    margin: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    border-radius: 25px;
    box-shadow: inset 0 0 0 12px rgba(255,255,255,0.1),
                inset 0 12px 14px rgba(255,255,255,0.2);
    backdrop-filter: blur(15px);
}
.info{
    display: none;
    padding: 1rem;
    animation: fadeUp .5s ease forwards;
    -webkit-animation: fadeUp .5s ease forwards;
}
.info.active{
    display: block;
}
.info h2{
    font-size: var(--fs-h3);
    margin: .5rem 0;
    font-weight: 600;
}
.info p{
    margin-bottom: 1.2rem;
}
.info ul{
    list-style: none;
    padding: 0;
    margin: 0 0 1.5rem;
    border-top: 1px solid rgba(0,0,0,0.06);
}
.info ul li{
    font-size: var(--fs-small);
    padding: .4rem 0;
}
.product_option{
    margin-bottom: 1rem;
}
.product_option label{
    display: block;
    font-size: var(--fs-small);
    margin-bottom: .4rem;
}
.product_option select{
    width: 100%;
    padding: .5rem;
    border-radius: 6px;
    border: none;
    border-bottom: 2px solid rgba(238, 229, 229, .5);
    background: none;
    color: var(--dark-grey);
    outline: none;
}
.color_swatches{
    display: flex;
    gap: .6rem;
}
.swatch{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid var(--dark-grey);
    box-shadow: 0 0 0 1px rgb(222, 197, 197);
    cursor: pointer;
    transition: .2s ease;
}
.swatch:hover{
    transform: scale(1.1);
    box-shadow: 0 0 0 2px rgba(0,0,0,0.3);
}
@keyframes fadeUp{
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
